
body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
	text-align: left;
	width: 100%;
}

.header-container01 {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    height: 75px;
    margin-top: 0px; 
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
    } 

.logo {
    color: #ffffff;
    background-color: #4aaaa5;
    float: left;
    margin-left: 125px;  
    height: 75px;
    width: 270px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.button {
    color: #ffffff;
    background-color: #4aaaa5;
}

.topnav {
	float: right;
	text-align: center;
    border: #cccccc;
    width: 270px;
    margin-right: 270px;

}


a {
	color: #777777;
	text-decoration: none;
}



li.divider {
border-right: 1px solid #dddddd;
padding: 10px;
}

li.nodivider {
   
    padding: 10px;
    }


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h2 {
    color: #4aaaa5;
}

li {
	float: left;
	width: 22%;
	padding: 10px;
}


Section	{
	background-color: #ffffff;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
	
}
    
.main-container02 { 
        clear: both;
        overflow: auto;
        margin-left: 10;
        height: 500px;
        width: 100%;
        background-image: url(../images/full-bloom.png);
        border-color: #dddddd;
        border-style: solid;
        border-width: thin;
}


#about-me {
    position:  relative;
    float: left;
    width: 960px;
    text-align: full;
    top: 30px;
    margin-left:125px;
    margin-right:125px;
    margin-top: 10px;
    margin-bottom: 125px;
    height: auto;
    padding: 20px;
}

.contact-form {
    position:  relative;
    float:  left;
    width: 960px;
    top: 30px;
    text-align: full;
    margin-left:125px;
    margin-right:125px;
    margin-top: 10px;
    margin-bottom: 125px;
    height: auto;
    padding: 20px;
    width: 960px;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}




.portfolio.border {
	border-right: 1px solid #dddddd;
	padding: 10px;
}

input,
textarea {
	width: 925px;
	padding: 10px 20px 10px 10px;
    margin: 0px 0;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;
}


footer {
    clear: both;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    
    padding: 0px;
    height: 40px;
    background-color: #666666;
    width: 100%;
    border-top: 5px solid #4aaaa5;  
    color: white;
    text-align: center;
}

#bio-image {
 float: left;  
 margin-right: 10px; 
}





.project {
	float: left;
	position: relative;
    width: 100%;
    height: 100%;
}

.project-title {
	float: left;
	position: relative;
	top: -50px;
	width: 100%;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

ul.project {
    width: 700px;
}
.portfolio {
    float: left;
	position: relative;
	text-align: left;
    width: 960px;
    height: 600px;
	top: 30px;
	margin-left: 125px;
    margin-bottom: 50px;
    float: left;
    padding: 15px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
    border-width: thin;

}

.block {
	display: inline-block;
	width: 250px;
	height: 100px;
	margin: 20px;
}